body{
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
}

nav .logo a{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    transition: .3s;
    color: #707070;
    text-decoration: none;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    line-height: 80px;
    padding: 12px 30px;
    text-decoration: none;
    transition: .3s;
    color: #707070;
}

nav ul li a:hover {
    color: #608895;
}

#fullpage {
    height: 100vh;
    overflow: hidden;
}

#fullpage section{
    height: 100vh;
}

.presentacion .titulo-desarrollador h2{
    color: #959595;
    font-size: 60px;
    height: 0px;
    padding-top: 14%;
    padding-bottom: 30px;
    padding-left: 18%;
    font-weight: lighter;
}

.presentacion .parrafo-presentacion .p-presentacion{
    color: #959595;
    font-size: 25px;
    margin-top: 5%;
    padding-left: 18%;
}

.presentacion .parrafo-presentacion .p-presentacion2{
    color: #959595;
    font-size: 25px;
    margin-top: -2%;
    padding-left: 18%;
}

.presentacion .parrafo-presentacion .p-nombre{
    color: #959595;
    font-size: 25px;
    margin-top: -4%;
    padding-left: 35.7%;
    font-weight: bold;
}

.conocimientos{
    height: 100vh;
    margin-top: 0%;
}

.titulo-conocimientos{
    color: #959595;
    font-weight: lighter;
    font-size: 40px;
    padding-left: 18%;
}

.conocimientos li{
    list-style: none;
    color: #638fad;
    padding-top: 8px;
}

.conocimientos h3{
    color: #959595;
    font-size: 25px;
    font-weight: lighter;
}

.conocimientos h2{
    color: #959595;
}

.desarrolloweb{
    padding-top: 8%;
    font-weight: lighter;
    padding-left: 18%;
}

.basededatos{
    margin-top: -158px;
    padding-left: 42%;
}

.desarrollomovil{
    padding-left: 18%;
    margin-top: 4%;
}

.resumen h2{
    font-weight: lighter;
    font-size: 40px;
    margin-top: -292px;
    padding-left: 68%;
}

.btn-resumen{
    border: 2px solid #608895;
    background-color: #fff;
    color: #608895;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 14px; 
    text-align: center;
    font-size: 20px;
    border-radius: 40px;
    margin-left: 68%;
}

.btn-resumen:hover{
    border: 2px solid #608895;
    background-color: #608895;
    color: #fff;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 14px; 
    text-align: center;
    font-size: 20px;
    border-radius: 40px;
    margin-left: 68%;
}

.trabajos{
    height: 100vh;
    margin-top: -2%;
}

.trabajos h2{
    color: #959595;
    font-weight: lighter;
    font-size: 40px;
    padding-left: 18%;
}

.trabajos img{
    width: 250px;
    height: 250px;
    margin-top: 5%;
    margin-left: 10%;
}

.trabajos img:hover{
    width: 350px;
    height: 350px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
}

.contacto{
    height: 100vh;
    margin-top: -3%;
}

.contacto h2{
    color: #959595;
    font-weight: lighter;
    font-size: 40px;
    padding-left: 18%;
}

.contacto p{
    color: #608895;
    font-size: 22px;
    padding-left: 26%;
    padding-top: 2%;
}

.contacto a{
    color: #3e4352;
    text-decoration: none;
    font-size: 28px;
}

.github{
    width: 0;
    height: 0;
    margin-top: 15%;
    margin-left: 20%;
}

.img-github{
    width: 100px;
    height: 100px;
    margin-top: 15%;
    margin-left: 20%;
}

.github-texto{
    margin-left: -8.5%;
}

.gmail{
    width: 0;
    height: 0;
    margin-left: 35%;
    margin-top: -9.3%;
}

.img-gmail{
    width: 230px;
    height: 230px;
    margin-left: 18%;
    margin-top: 5%;
}

.gmail-texto{
    margin-left: 35.5%;
}

.img-linkedin{
    width: 115px;
    height: 115px;
    margin-left: 70%;
    margin-top: 8.2%;
}

.texto-linkedin{
    margin-left: 63%;
}

@media only screen and (max-width: 795px){
    nav ul{
        display: none;
    }

    nav .logo a{
        padding-left: 2px;
    }


}

@media only screen and (max-width: 768px){
    .presentacion .titulo-desarrollador h2{
        font-size: 4rem;
    }

    .presentacion .parrafo-presentacion .p-presentacion{
        padding-top: 15%;
        font-size: 1.8rem;
    }

    .presentacion .parrafo-presentacion .p-nombre{
        font-size: 1.8rem;
        padding-left: 18%;
        padding-top: 2%;
    }

    .presentacion .parrafo-presentacion .p-presentacion2{
        font-size: 1.8rem;
        margin-right: 13%;
    }

    .resumen h2 {
        padding-top: 2.8%;
    }
}

@media only screen and (max-width: 230px){
    .presentacion .parrafo-presentacion .p-presentacion{
        margin-top: 45%;
    }
}

@media only screen and (max-width: 865px){
    .presentacion .parrafo-presentacion .p-nombre{
        margin-left: 10%;
    }
}

@media only screen and (max-width: 1000px){
    .presentacion .parrafo-presentacion .p-nombre{
        padding-left: 38%;
    }
}

@media only screen and (max-width: 1087px){
    .presentacion .parrafo-presentacion .p-nombre{
        margin-left: 4%;
    }
}

@media only screen and (max-width: 480px){
    .presentacion .titulo-desarrollador h2{
        font-size: 2.5rem;
        padding-top: 40%;
        margin-left: -8%;
    }

    .presentacion .parrafo-presentacion .p-presentacion{
        padding-top: 20%;
        font-size: 1.2rem;
        margin-left: -7%;
    }

    .presentacion .parrafo-presentacion .p-nombre{
        font-size: 1.2rem;
        padding-left: 11%;
    }
    .presentacion .parrafo-presentacion .p-presentacion2{
        font-size: 1.2rem;
        margin-top: -16px;
        margin-left: -7%;
    }

    .titulo-conocimientos{
        margin-left: -10%;
        font-size: 1.5rem;
        margin-top: 25%;
    }
    
    .conocimientos h3{
        margin-top: 8%;
    }
}